<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Biblioteca Spring</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/brewer.css}"/>
	<link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>

<div class="aw-layout-page">
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
		<div class="container-fluid">

	    <div class="navbar-header">
	     	<a class="navbar-brand  hidden-xs" href="#">
	        	<img alt="Biblioteca Spring" src="/images/logo.png"/>
	      	</a>

	      	<ul class="nav  navbar-nav">
	        	<li>
	          		<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
	        	</li>
	      	</ul>
	    </div>
	    
	     <ul class="nav navbar-nav  navbar-right">
		    	<li>
		        	<a th:href="@{/logout}"><em class="fa  fa-sign-out"></em>sair</a>
				</li> 
	    </ul>
	  </div>
	</nav>
	
	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">

	    	<nav class="aw-menu  js-menu">
	      		<ul class="aw-menu__list">
	
	        		<li class="aw-menu__item  is-active">
	          			<a href="#">
	            			<i class="fa  fa-fw  fa-file-text"></i><span>Navegação</span>
	            			<i class="aw-menu__navigation-icon  fa"></i>
	          			</a>
	      
	          			<ul class="aw-menu__list  aw-menu__list--sublist">
	          			    <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/biblioteca/autor}">Cadastrar Autor</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/biblioteca/lista}">Autores Cadastrados</a></li> 
				            <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/biblioteca/editora}">Cadastrar Editora</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/biblioteca/editoras}">Editoras Cadastradas</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/biblioteca/livros}">Livros Cadastrados</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/}">Home</a></li>
				       </ul>
	        		</li>
	      		</ul>
	    	</nav>
		</div>
	</aside>
	
<section class="aw-layout-content  js-content">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de livros
			</h1>
		</div>
	</div>

	<div class="container-fluid">

		<form form action="#" th:action="@{/biblioteca/livro/}" th:object="${livro}" method="POST" class="form-vertical  js-form-loading">
		<input id="id" type="hidden" th:field="*{id}">
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label for="sku">TÍTULO: </label>
					<input type="text" th:field="*{titulo}"/>
					<div> <th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Name Error</div>
				</div>
				
				
			</div>
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label for="nome">GÊNERO LITERÁRIO: </label>
					<input input type="text" th:field="*{genero}"/>
					<div> <th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}">Name Error</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label for="nome">EDIÇÃO: </label>
					<input input type="text" th:field="*{edicao}"/>
				</div>
				<div> <th:if="${#fields.hasErrors('edicao')}" th:errors="*{edicao}">Name Error</div>
			</div>
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label for="nome">ANO: </label>
					<input input type="text" th:field="*{ano}"/>
					<div> <th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}">Name Error</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label class="control-label">AUTOR: </label>
					<select th:field="*{autor.id}" class="form-control">
					
					<option value="" hidden="">Selecione o autor</option>
					<option th:each="autores : ${autor}" th:text="${autores.nome}" th:value="${autores.id}"></option>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-10  form-group">
					<label class="control-label">EDITORA: </label>
					<select th:field="*{editora.id}" class="form-control">
					
					<option value="" hidden="">Selecione o autor</option>
					<option th:each="editoras : ${editora}" th:text="${editoras.nome}" th:value="${editoras.id}"></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>

</section>

	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy;Biblioteca Spring---Since 2022.</span>
		</div>
	</footer>
</div>	

<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>
</body>
</html>